<h1>Add a new course</h1>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="title" id="title" type="text" class="validate">
                <label for="title">Course name</label>
                <span class="helper-text" data-error="enter a title"></span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="price" type="text" class="validate">
                <label for="price">Course price</label>
                <span class="helper-text" data-error="enter a price"></span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="img" type="img" class="validate">
                <label for="img">Image URL</label>
                <span class="helper-text" data-error="enter a image URL"></span>
            </div>
        </div>

        <button class="btn btn-primary">Add a course</button>
    </form>
</div>